<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CreateFlightServlet</servlet-name>
        <servlet-class>com.phoenixairlines.flightmanagement.controllers.CreateFlightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveTableServlet</servlet-name>
        <servlet-class>com.phoenixairlines.usermanagement.controllers.ApproveTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateFlightServlet</servlet-name>
        <url-pattern>/CreateFlightServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFlightTableServlet</servlet-name>
        <url-pattern>/SearchFlightTableServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchFlightTableServlet</servlet-name>
        <servlet-class>com.phoenixairlines.flightmanagement.controllers.SearchFlightTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFlightServlet</servlet-name>
        <servlet-class>com.phoenixairlines.flightmanagement.controllers.DeleteFlightServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteFlightServlet</servlet-name>
        <url-pattern>/DeleteFlightServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DefaultFlightTableServlet</servlet-name>
        <servlet-class>com.phoenixairlines.flightmanagement.controllers.DefaultFlightTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DefaultFlightTableServlet</servlet-name>
        <url-pattern>/DefaultFlightTableServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateFlightServlet</servlet-name>
        <servlet-class>com.phoenixairlines.flightmanagement.controllers.UpdateFlightServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateFlightServlet</servlet-name>
        <url-pattern>/UpdateFlightServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewFlightServlet</servlet-name>
        <servlet-class>com.phoenixairlines.flightmanagement.controllers.ViewFlightServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewFlightServlet</servlet-name>
        <url-pattern>/ViewFlightServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ApproveUserServlet</servlet-name>
        <servlet-class>com.phoenixairlines.usermanagement.controllers.ApproveUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApproveUserServlet</servlet-name>
        <url-pattern>/ApproveUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlockUserServlet</servlet-name>
        <servlet-class>com.phoenixairlines.usermanagement.controllers.BlockUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlockUserServlet</servlet-name>
        <url-pattern>/BlockUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MonitorTableServlet</servlet-name>
        <servlet-class>com.phoenixairlines.usermanagement.controllers.MonitorTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitorTableServlet</servlet-name>
        <url-pattern>/MonitorTableServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.phoenixairlines.usermanagement.controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.phoenixairlines.usermanagement.controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterUserServlet</servlet-name>
        <servlet-class>com.phoenixairlines.usermanagement.controllers.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUserServlet</servlet-name>
        <url-pattern>/RegisterUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchUserTableServlet</servlet-name>
        <servlet-class>com.phoenixairlines.usermanagement.controllers.SearchUserTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUserTableServlet</servlet-name>
        <url-pattern>/SearchUserTableServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.phoenixairlines.usermanagement.controllers.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewUserServlet</servlet-name>
        <servlet-class>com.phoenixairlines.usermanagement.controllers.ViewUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewUserServlet</servlet-name>
        <url-pattern>/ViewUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveTableServlet</servlet-name>
        <url-pattern>/ApproveTableServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CreateTicketServlet</servlet-name>
        <servlet-class>com.phoenixairlines.ticketmanagement.controllers.CreateTicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateTicketServlet</servlet-name>
        <url-pattern>/CreateTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteTicketServlet</servlet-name>
        <servlet-class>com.phoenixairlines.ticketmanagement.controllers.DeleteTicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTicketServlet</servlet-name>
        <url-pattern>/DeleteTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateTicketServlet</servlet-name>
        <servlet-class>com.phoenixairlines.ticketmanagement.controllers.UpdateTicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateTicketServlet</servlet-name>
        <url-pattern>/UpdateTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewTicketServlet</servlet-name>
        <servlet-class>com.phoenixairlines.ticketmanagement.controllers.ViewTicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewTicketServlet</servlet-name>
        <url-pattern>/ViewTicketServlet</url-pattern>
    </servlet-mapping>





    <servlet>
        <servlet-name>SearchUsersStaffServlet</servlet-name>
        <servlet-class>com.phoenixairlines.usermanagement.controllers.SearchUsersStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUsersStaffServlet</servlet-name>
        <url-pattern>/SearchUsersStaffServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
