<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AddFlightInfoServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.flight.AddFlightInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.user.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.user.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.user.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUsersStaffServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.user.SearchUsersStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTableServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.user.AdminTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFlightInfoServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.flight.UpdateFlightInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFlightInfoServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.flight.DeleteFlightInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFlightInfoServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.flight.ViewFlightInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFlightInfoServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.flight.SearchFlightInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectTicketServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.ticket.SelectTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTicketServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.ticket.CreateTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTicketServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.ticket.UpdateTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTicketServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.ticket.DeleteTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUsersAdminServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.user.SearchUsersAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.user.ApproveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSelectedData</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.flight.GetSelectedData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSelectedTicketData</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.ticket.GetSelectedTicketData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFlightInfoServlet</servlet-name>
        <url-pattern>/AddFlightInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUsersStaffServlet</servlet-name>
        <url-pattern>/SearchUsersStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTableServlet</servlet-name>
        <url-pattern>/AdminTableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFlightInfoServlet</servlet-name>
        <url-pattern>/UpdateFlightInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFlightInfoServlet</servlet-name>
        <url-pattern>/DeleteFlightInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFlightInfoServlet</servlet-name>
        <url-pattern>/ViewFlightInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFlightInfoServlet</servlet-name>
        <url-pattern>/SearchFlightInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectTicketServlet</servlet-name>
        <url-pattern>/SelectTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTicketServlet</servlet-name>
        <url-pattern>/CreateTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTicketServlet</servlet-name>
        <url-pattern>/UpdateTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTicketServlet</servlet-name>
        <url-pattern>/DeleteTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUsersAdminServlet</servlet-name>
        <url-pattern>/SearchUsersAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveServlet</servlet-name>
        <url-pattern>/ApproveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSelectedData</servlet-name>
        <url-pattern>/GetSelectedData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSelectedTicketData</servlet-name>
        <url-pattern>/GetSelectedTicketData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
