<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AddFlightInfoServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.AddFlightInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUsersServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.SearchUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDCServlet</servlet-name>
        <servlet-class>com.phoenixairlines.controllers.AdminDCServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFlightInfoServlet</servlet-name>
        <url-pattern>/AddFlightInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUsersServlet</servlet-name>
        <url-pattern>/SearchUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDCServlet</servlet-name>
        <url-pattern>/AdminDCServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
