/*Navigation Bar*/

.navbar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    transition: .3s linear;
}

.navbar .inner-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-menu a {
    color: red;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear
}

.navbar-menu a:hover {
    color: white !important;
}

.sticky .navbar-menu a {
    color: black;
}

.sign-in-container {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
    left: 0;
    width: 100%;
    z-index: 2;
    margin-left: -25%;
}